// font and root
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-bg: #222220;
    --less-dark-bg: #272725;
    --global-text: #d3d3d3;
    --darker-text: #5f5d5d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Saira;
    background-color: var(--dark-bg);
    color: var(--global-text);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

// header
.title-pj{
    font-size: x-large;
    line-height: 1.1;
}

.title-pj h2{
    font-size: smaller;
    margin-bottom: 0.4rem;
}

.subt{
    display: flex;
    justify-content: space-between;
}

.question i{
    font-size: x-small;
}

.question i:hover{
    transform: scale(1.1);
}

.helper-text{
    line-height: 1.4;
    font-size: small;
    font-style: italic;
    color: var(--darker-text);
}

.hidden{
    display: none;
}

// main
.main-div{
    padding: 3rem;
    background-color: var(--less-dark-bg);
    position: sticky;
    z-index: 1;
}

.main-div input{
    background-color: var(--less-dark-bg);
    font-size: 0.9rem;
    font-weight: 600;
}

.preview-div, .main-div span, .main-div .fa-solid{
    background-color: var(--less-dark-bg);
}

.preview-div h3{
    background-color: var(--less-dark-bg);
    margin-top: 0.5rem;
}

.main-div img{
    max-width: 350px;
}

.bew{
    background-color: var(--less-dark-bg);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.bew .bew-text{
    margin-left: 0.5rem;
}

.main-div .div-div{
    background-color: var(--less-dark-bg);
}

.main-div .download-word{
    margin: 0 1rem;
}

.main-div button{
    background-color: var(--less-dark-bg);
    color: var(--global-text);
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    margin-top: 0.5rem;
}

button span{
    margin-left: 0.2rem;
}

.main-div button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

// footer
footer{
    display: flex;
    justify-content: center;
}

.footer-div{
    font-size: smaller;
    position: absolute;
    bottom: 1px;
    font-style: italic;
}

.footer-div .fa-code{
    font-size: x-small;
}

// media queries 
@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    
    .bew{
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 605px){

    .bew{
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 480px){
    
    #app{
        padding: 0.8rem;
    }

    body{
        min-width: 100vw;
        overflow-x: hidden;
    }

    .title-pj{
        font-size: large;
    }

    .title-pj h2{
        font-size: small;
        margin-bottom: 0.3rem;
    }

     .main-div input{
        width: 100%;
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    .helper-text{
        font-size: x-small;
    }

    .main-div img{
        max-width: 100%;
        height: auto;
        margin: 0.3rem 0;
    }

    .bew{
        font-size: small;
        justify-content: center;
        margin: auto;
    }

    .bew input{
        width: 15%;
    }

    .bew-text{
        margin-left: 0rem!important;
    }

    .footer-div{
        font-size: x-small;
        text-align: center;
    }

}