// font and root
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-bg: #222220;
    --less-dark-bg: #272725;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Saira;
    background-color: var(--dark-bg);
    color: lightgray;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    height: 100vh;
}

// header
.title-pj{
    font-size: x-large;
}

// main
.main-div{
    padding: 3rem;
    background-color: var(--less-dark-bg);
}

// footer
